@import "variables";

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7vh;
  background-color: rgba(64, 67, 98, 0.6);
}

.profilepicture {
  width: 45px;
  border-radius: 50%;
}

.logout {
  font-size: 1.7rem;
  color: $maingray;
  &-text {
    display: flex;
    align-items: center;
  }
}
